#listamateriais{
    width: 90%;
    height: 90%;

    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 99999;

    display: flex;
    flex-direction: column;

    background-color: var(--primaryColor);
    box-shadow: 0px 0px 10px color-mix(in srgb, var(--emphasisColor) 50%, transparent);
    border-radius: 10px;
}

#listamateriais thead{
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-bottom: 1px solid color-mix(in srgb, var(--fontColor) 50%, transparent);
}

#listamateriais thead tr{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-bottom: 1px solid color-mix(in srgb, var(--fontColor) 50%, transparent);
}