.optionsBar {
    width: calc(90vw - 250px);
    height: 45px;

    position: absolute;
    top: 0px;
    right: calc(5vw);

    background-color: color-mix(in srgb, var(--primaryColor) 70%, var(--thirdColor));
    box-shadow: 5px 5px 15px var(--thirdColor);
    border-radius: 0px 0px 10px 10px;
}
.optionsBar ul {
    list-style: none;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 0px 20px;
}

.optionsBar li {
    color: var(--fontColor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;

    padding: 7px;
    border-radius: 15px;
    transition: 0.1s ease-in-out;
}

.optionsBar li img {
    width: 20px;
    height: 20px;
    filter: invert(1);
    margin-right: 10px;
}

.optionsBar li:hover {
    color: var(--emphasisColor);
    border-left-color: var(--emphasisColor);
    background-color: color-mix(in srgb, var(--emphasisColor) 10%, transparent);
    transform: scale(1.05);
}